* {
    margin: 0;
    padding: 0;
}

img {
    width: 50%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

div img {
    position: absolute;

}

.start {
    position: relative;
    height: 100%;
    width: 100%;
}

.title {
    top: 60px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: inherit;

}

.controls {
    bottom: 0;
    left: 10px;
    width: 30%;

}

.toad {
    bottom: 0;
    right: 0;
}

.hidden {
    display: none;
}

.button {
    background-color: black;
    border: 1.5px solid #981618;
    border-radius: 8px;
    color: white;
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Courier';
    position: absolute;
    top: 350px;
    left: 200px;
    width: max-content;
}

h3 {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.button:hover {
    background-color: #981618;
}